/* DONT FILL WITH COMMENTS, goddamn, its 12:30:38 AM i cannot with this css file */
body {
    background-color: midnightblue;
    color: white;
}
.navbutton {
    color: whitesmoke;
    background: #02027b;
    border-color: #02027b;
    border-width: 0;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.navbaracc {
    margin-right: 20px;
    left: 20px;
    float: right;
    display: flex;
}

.mainbody {
    background: white;
    color: black;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 15%;
    right: auto;
    width: 70%;
    position: fixed;
    z-index: 0;
    padding: 50px 10px;
}

.NavBar {
    background-color: slategray; /* Colors */
    color: whitesmoke; /* Colors */
    padding: 12px 12px; /* Idk i forgot but important */
    margin: 0; /* Idk i forgot, but its important */
    list-style-type: none; /* Prevents bullets */
    position: fixed; /* Fixes the navbar to the viewport */
    top: 0;          /* Aligns it to the top */
    left: 0;         /* Aligns it to the left */
    right: 0;        /* Aligns it to the right */
    width: 100%;     /* Ensures it takes full width */
    /* Add other styling like background-color, z-index, etc. */
    z-index: 9999;   /* Keeps it above other content */
}

