body {
    background-color: midnightblue;
    color: white;
}

.NavBar {
    background-color: slategray;
    color: whitesmoke;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbutton {
    color: whitesmoke;
    background: #02027b;
}